*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
@font-face {
  font-family: gilroy;
  src: url(./Gilroy-Medium\ \(2\).woff2);
}
#main{
  position: relative;
}
.sec{
    opacity: 0.5;
}
.circle{
    transform-origin: 50% 50%;
    transition: all ease 0.5s;
    background: transparent;
}
.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 3px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
.hover-underline-animation {
    position: relative;
    color: rgb(253, 253, 253);
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



  
  .wave-group {
    position: relative;
  }
  
  .wave-group .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #fffbfb;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #ffffff;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 200px;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  .circle{
    height: 45vmax;
    width: 45vmax;
    border-radius: 100%;
    position: absolute;
    top: 80%;
    left: 25%;
    border: 2px solid white;
    transform:  rotate(270deg) ;
  }

  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;
    color:white;
}
#canvamove{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page1{
    position: relative;
    height: 100vh;
    color:rgb(0, 0, 0);
    width: 100vw;
    background-color: #000000;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    display: flex;
    position: absolute;
    top: 30%;
    height: 25%;
    width: 100%;
    font-size: 100px;
    white-space: nowrap;
    font-family: gilroy;
}
#loop>h1{
    font-weight: 400;
    animation-name: anim;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#loop>h1>span{
    -webkit-text-stroke: 1.2px #000;
    color: transparent;
    font-weight: 500;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4%;
    width: 100%;
    padding: 50px;
    display: none;
}
#nav>h3{
    font-family: gilroy;
    font-weight: 400;
    font-size: 44px;
}








  
  @media (max-width:600px){
    .circle{
    position: relative;
     top:45%;
     left: -15%;
     height: 400px;
     width: 400px;
     border-radius: 100%;
    }
    .innercircle{
      height: 300px;
      width: 300px;
      border-radius: 100%;
    }
    .stripe .sec img{
      position: absolute;
      top:10px;
      width: 370px;
      left:20px
    }
    .stripe .first h1{
      font-size: 15px;
    }
    .end .itemno h1{
      font-size: 12px;
      line-height: 15px;
      margin-left: 5px;
      margin-top: 30px;

    }
    .end .colors h1{
      font-size: 12px;
      line-height: 15px;
      margin-left: 5px;
      margin-top: 30px;
      opacity: 0;
    }
    .mid .mid h1{
      position: absolute;
      font-size: 90px;
      left: 90px;
      top: 100px;
    }
    .mid .left h1{
      display: none;
    }
    .mid .right{
      display: none;
    }
    .landing .nav{
      margin-top: 20px;
      display: block;
      margin-right: 20px;
    }
    .landing .left{
      display: none;
    }
    .landing .right{
      margin-top: -25px;
      margin-left: 150px;
    }
    .landing .nav .middle{
      display: flex;
      gap: 10px;
      margin-left: -8px;
    }
    .landing .nav .middle .cta span{
      font-size: 12px;
    }
    .landing .nav .middle .cta span{
      font-size: 12px;
    } 
    .banner1
    .banner1 img{
      height: 100%;
      object-position: left;
    }
    .banner1 .content{
      top: 28%;
      left:55%;
    }
    .banner1 .content h1{
      font-size: 40px;
      line-height: 30px;
    }
    .banner1 .content p{
      font-size: 12px;
      line-height: 12px;
      margin-top: 5px;
    }
    .banner2{
    height: 80%;

    }
    .banner2 img{
      object-position: 50% 50%
      }
      .overtext{
       transform: translateY(-50%);
      }
      .overtext h1{
        width: 300px;
        font-size: 18px;
        letter-spacing: -1px;
        display: inline-block;
      }
      .bgvideo{
        height: 25vh;
        width: 100%;
        position: relative;
      }
      .bgvideo video{
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      
      }
      .bgvideo h1{
        font-size: 11px;
      }
      .bgvideo h3{
      margin-top: 8px;
      font-size: 10px;
      }
      .bgvideo .info{
        padding: 10px;
      }
  }