@font-face {
  font-family: gilroy;
  src: url(./Gilroy-Medium\ \(2\).woff2);
}

@font-face {
  font-family: wosker;
  src: url(./Wosker-Demo-BF65e1547615ba8.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "gilroy";
}

#main {
  position: relative;
}

.sec {
  opacity: 0.5;
}

.circle {
  transform-origin: 50% 50%;
  transition: all ease 0.5s;
  background: transparent;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 3px;
  font-size: .75vw;
  padding-right: 15px;
  text-transform: uppercase;
}

.hover-underline-animation {
  position: relative;
  color: rgb(253, 253, 253);
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}




.wave-group {
  position: relative;
}

.wave-group .input {
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #fffbfb;
  background: transparent;
}

.wave-group .input:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input:focus~label .label-char,
.wave-group .input:valid~label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #ffffff;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,
.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input:focus~.bar:before,
.wave-group .input:focus~.bar:after {
  width: 50%;
}

.circle {
  height: 45vmax;
  width: 45vmax;
  border-radius: 100%;
  position: absolute;
  top: 80%;
  left: 25%;
  border: 2px solid white;
  transform: rotate(270deg);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}

#canvamove {
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

#page1 {
  position: relative;
  height: 100vh;
  color: rgb(0, 0, 0);
  width: 100vw;
  background-color: #000000;
}

#page2 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

#page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #000000;
}

canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}

#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  font-size: 100px;
  white-space: nowrap;
  font-family: gilroy;
}

#loop>h1 {
  font-weight: 400;
  animation-name: anim;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#loop>h1>span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}

@keyframes anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4%;
  width: 100%;
  padding: 50px;
  display: none;
}

#nav>h3 {
  font-family: gilroy;
  font-weight: 400;
  font-size: 44px;
}

.slider-container {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 91%;
  position: relative;

  align-items: center;
  justify-content: center;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  background-color: rgba(128, 128, 128, 0.523);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  font-weight: 600;
  font-size: 30px;
}


.slider-arrow.left {
  left: 10px;
}

.slider-arrow.right {
  right: 10px;
}

.product-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: -8%;

}

.product {
  position: absolute;
  transition: opacity 0.5s, transform 0.5s;
}

.center-product {
  opacity: 1 !important;

  z-index: 1;
  position: relative;

}

.name {
  position: absolute;
  width: 100%;
  top: 15%;
  color: rgb(243, 236, 236);
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 50px;
  z-index: 777;
  font-weight: 600;



}

/* .cursor{
position:fixed;
width: 20px;
height: 20px;
border-radius: 50%;
background: #fff;
transition: 0.1s;
transform: translate(-50%,-50%);
pointer-events: none;
z-index: 999999;
mix-blend-mode: difference;
}
.name:hover ~ .cursor{
transform: scale(3);
} */


.details {
  position: absolute;
  top: 90%;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 150px;
  font-size: 1.2rem;
}

.gradient-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.buttu {
  padding: 2px 2px;
  border: none;
  border-radius: 5px;


  text-transform: uppercase;
  cursor: pointer;
  color: #e4ebec;
  transition: all 1000ms;
  font-size: 16px;
  position: relative;
  overflow: hidden;

}

.buttu:hover {
  color: #000000;
  transform: scale(1.1);
  box-shadow: 4px 5px 17px -4px #f8f8f8;
}

.buttu::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #dae4e6;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.buttu:hover::before {
  width: 250%;
}

#footer {
  height: 100%;
  width: 100%;
  background-color: black;
  margin-top: 20vw;
}

#top {
  width: 100%;
  height: 40%;
  padding: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

#left {
  height: 100%;
  width: 50%;
  color: black;
  padding: 2vw 1vw;
}

#right {
  margin-right: 7vw;
  height: 100%;
  width: 50%;
  border-radius: 0vw;
  margin-top: 10vw;
  padding-bottom: 2vw;
}

#left h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  font-weight: 1900;
  letter-spacing: -0.2vw;
  line-height: 3.2vw;
  font-size: 4vw;
  color: white;

}

#right video {
  height: 20vw;
  width: 100%;
  border-radius: 5vw;
  mix-blend-mode: difference;
}

#vid {
  pointer-events: none;
}

.but {
  margin-top: 1.4vw;
  padding: 1.2vw 1.6vw;
  border-radius: 5vw;
  border: none;
  background-color: white;

}

.but:hover {
  background-color: azure;
}


#bottom {
  padding: 2vw 2vw;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

#btop {
  margin-top: 2vw;
  color: white;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.mail {
  width: 36vw;
  height: 5vw;
  padding: 1.4vw;
  border: none;
  background-color: #3A3A37;
  color: #e5e5e5;
  border-radius: 0.5vw;

}

.mail::placeholder {
  font-size: 1.2vw;
}

#btn {
  width: 3vw;
  height: 3vw;
  border-radius: 5vw;
  background-color: rgb(85, 83, 83);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

#btn:hover {
  width: 4vw;
  height: 4vw;
  background-color: aliceblue;
  color: black
}

#bbottom {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#bbottom .col h1 {
  color: white;
  text-transform: uppercase;
  font-size: 1.8vw;
  margin-bottom: 0.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#bbottom .col p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.fullcateg {
  clip-path: circle(var(--clip) at 53% 63%);
}








@media (max-width:600px) {
  body{
    overflow-y: scroll;
  }
  .circle {
    position: relative;
    top: 45%;
    left: -15%;
    height: 400px;
    width: 400px;
    border-radius: 100%;
  }

  .innercircle {
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }

  .stripe .sec img {
    position: absolute;
    top: 10px;
    width: 370px;
    left: 20px
  }

  .stripe .first h1 {
    font-size: 15px;
  }

  .end .itemno h1 {
    font-size: 12px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 30px;

  }

  .end .colors h1 {
    font-size: 12px;
    line-height: 15px;
    margin-left: 5px;
    margin-top: 30px;
    opacity: 0;
  }

  .mid .mid h1 {
    position: absolute;
    font-size: 90px;
    left: 90px;
    top: 100px;
  }

  .mid .left h1 {
    display: none;
  }

  .mid .right {
    display: none;
  }

  .landing .nav {
    margin-top: 20px;
    display: block;
    margin-right: 20px;
  }

  .landing .left {
    display: none;
  }

  .landing .right {
    margin-top: -25px;
    margin-left: 150px;
  }

  .landing .nav .middle {
    display: flex;
    gap: 10px;
    margin-left: -8px;
  }

  .landing .nav .middle .cta span {
    font-size: 12px;
  }

  .landing .nav .middle .cta span {
    font-size: 12px;
  }

  .banner1 .banner1 img {
    height: 70%;
    object-position: left;
  }

  .banner1 .content {
    top: 28%;
    left: 55%;
  }

  .banner1 .content h1 {
    font-size: 40px;
    line-height: 30px;
  }

  .banner1 .content p {
    font-size: 12px;
    line-height: 12px;
    margin-top: 5px;
  }

  /* .banner2 {
    height: 80%;

  }

  .banner2 img {
    object-position: 50% 50%
  }

  .overtext {
    transform: translateY(-50%);
  }

  .overtext h1 {
    width: 300px;
    font-size: 18px;
    letter-spacing: -1px;
    display: inline-block;
  } */

  .bgvideo {
    width: 100vw;
    height: 32vh;
    position: relative;
  }

  .bgvideo video {
    position: absolute;
    opacity: .7;
   height: 100%;
   width: 100%;
  }

  .bgvideo h1 {
    font-size: 11px;
  }

  .bgvideo h3 {
    margin-top: 8px;
    font-size: 10px;
  }

  .bgvideo .info {
    padding: 10px;
  }

  .banner2cover {
    display: none;
  }

  .banners {
    display: none;
  }

  .bannerforphone {
    display: inherit;
  }

  #left h1 {
    font-size: 2vw;
    line-height: 2.8vw;
  }

  #top {
    display: flex;


  }

  #btop {
    display: flex;
    flex-direction: column;
    gap: 2vw;
  }

  #right video {
    height: 30vw;
    width: 30vw;
  }

  #btop h1 {
    font-size: 1vw;
  }

  #bbottom p {
    font-size: 1.8vw;
  }

  input {
    width: 28vw;
    font-size: 1vw;
  }

  #btn {
    width: 2vw;
    height: 2vw;

  }

  .but {
    font-size: 10px;
  }

  #left {
    margin-top: -80px;
    margin-left: -20px;
  }

  #right {
    margin-left: 90px;
  }

  .categories {
    height: 100vh;




  }

  ::-webkit-scrollbar {
    display: none;
    display: flex;

  }

  nav {
    overflow-x: scroll;
    display: flex;
    justify-content: start !important;

  }

  .nav-buttons {
    display: flex;
    flex-shrink: 0;

  }

  .nav-buttons.active {
    display: flex;
  }



  .gradient-text {

    text-align: center;
    font-size: 50px;

  }

  .slider-arrow {
    height: 35px !important;
    width: 35px !important;
    font-size: 20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25% !important;
    background-color: gray !important;

  }

  .slider-arrow.left {
    left: -10px !important;
  }

  .slider-arrow.right {
    right: -10px !important;
  }






  .product-container {
    position: relative;
    top: 10% !important;
    scale: 1.5;
    z-index: 889999000;


  }

  .slider-container {
    position: relative;
    top: 30%;
  }

  .name {
    position: relative;
    top: 20% !important;
    font-size: 20px !important;
  }
}